@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    123 Main<br />
    Indianapolis, IN 46000<br />
    <abbr title="Phone">P:</abbr>
    317.123.456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jacr777@gmail.com">jacr777@gmail.com</a><br />
</address>