@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bussiness Requirement System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>PMO Project</h2>
        <p>
           Provides PMs Visibity to all projects, in the pipeline.
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Requirements</h2>
        <p>BAs(Business Analysts) have a place create documentation that is accessible to other team members and allow the review of that information effortlessly.</p>
        <p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>Provides an historical record of requierements to help estimate Level of effort (LOE).</p>
        <p>
    </div>
</div>